.main {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #fef9ed 0%, #fff 100%);
}
.formsDiv {
    width: 768px;
    padding: 79px 122px 0 154px;
}
.titleImg {
    display: block;
    margin: 0 auto;
    width: 175px;
    height: 55px;
    object-fit: contain;
}
.titleImg2 {
    display: none;
}
.regrestrationBtnsDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 35px 0;
}
.userActive {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0 2rem;
    background: #fdd043;
    color: #3f250e;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    outline: none;
}
.registerBtns {
    border: none;
    border-radius: 2rem;
    padding: 0.3rem 1rem;
    background: none;
    color: #998fa2;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.signinInput {
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid #998fa2;
    margin: 1.5rem 0;
    font-weight: bold;
    padding: 0.5rem 0;
    outline: none;
}
::placeholder {
    color: #b8b1b7;
    opacity: 1;
}
.signinInput:focus {
    border-bottom: 3px solid black;
    caret-color: #fdd043;
}
.checkboxlabel {
    line-height: 1.26;
    text-align: left;
}
.continueBtn {
    display: block;
    width: 90%;
    margin: 1rem auto;
    height: 2.7rem;
    background: #fdd043;
    color: #3f250e;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3rem;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}
.forgotPassword {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #3f250e;
    text-transform: uppercase;
    cursor: pointer;
}
label {
    padding: 0 1rem;
    font-weight: normal !important;
}

.imgContainer {
    width: 50%;
    overflow: hidden;
}
.socialDiv {
    margin: 2rem auto;
    display: block;
    width: 20%;
}
.googleButton {
    background-color: #523106;
    border: none;
    padding: 5px 7px;
    border-radius: 10px;
}
.fbButton {
    background-color: #523106;
    border: none;
    margin-left: 10px;
    padding: 5px 7px;
    border-radius: 10px;
}

@media (max-width: 1080px) {
    .main {
        flex-direction: column-reverse;
    }
    .titleImg {
        display: none !important;
    }
    .titleImg2 {
        display: block;
        margin: 30px auto;
        height: 10rem;
        object-fit: contain;
        padding-top: 6rem;
    }
    .formsDiv {
        width: 100%;
        padding: 0 !important;
    }
    .signinDiv {
        padding: 0 12rem;
    }
    .signupDiv {
        padding: 0 12rem;
    }
    .imgContainer {
        width: 100%;
    }
}
@media (max-width: 886px) {
    .signinDiv {
        padding: 0 6rem !important;
    }
    .signupDiv {
        padding: 0 6rem;
    }
    .titleImg2 {
        height: auto;
        padding-top: 2rem !important;
        width: 10rem;
    }
}
@media (max-width: 622px) {
    .sideartImg {
        height: auto;
    }
    .signinDiv {
        padding: 0 4rem !important;
    }
    .signupDiv {
        padding: 0 4rem;
    }
    .checkboxlabel {
        font-size: 12px;
    }
}
