body {
    margin: 0;
}
.section1 {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, lightpink -104%, #fff 54%) !important;
}
.creativeway {
    position: relative;
    text-align: center;
    display: block;
    margin: 5rem auto;
    width: 50%;
}
.creativewayh1 {
    color: #523106;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: system-ui;
}
.creativewayp {
    color: #9599b2;
    margin-bottom: 0.5rem;
    font-family: system-ui;
    font-weight: lighter;
}
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 22px;
    border: 1px solid lightgray;
    border-radius: 1rem;
    margin-top: 4rem;
    width: 100%;
}
.filterstext {
    font-size: 10px;
    border: 1px solid lightgray;
    padding: 0.5rem;
    border-radius: 6px;
    text-align: left;
    color: gray;
    margin: 0;
    width: 28%;
}
.filtersselect {
    background: white;
    border: 1px solid lightgray;
    border-radius: 6px;
    height: 2.1rem;
    font-size: 10px;
    font-weight: 200;
    color: gray;
    outline: none;
    width: 30%;
}
.filterssearchbtn {
    width: 5rem;
    height: 2rem;
    font-size: 12px;
    background: #fed12f;
    border: none;
    border-radius: 13px;
    color: #523106;
    z-index: 1;
    cursor: pointer;
    text-transform: uppercase;
    font-family: sans-serif;
}

.sliderClass {
    margin-top: 4rem;
}
.react-slideshow-container {
    position: relative !important;
}
.sliderClass .react-slideshow-container .default-nav:first-of-type {
    position: absolute !important;
    left: -3% !important;
}
.sliderClass .react-slideshow-container .default-nav:last-of-type {
    position: absolute !important;
    left: 100% !important;
}
.react-slideshow-container .default-nav {
    background: none !important;
}
.react-slideshow-container .default-nav:last-of-type {
    margin-left: 0 !important;
}
.react-slideshow-container .default-nav:first-of-type {
    margin-right: 0 !important;
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin: 0 0.6rem;
    border-radius: 1rem !important;
    border: none !important;
    background: white !important;
}
.react-slideshow-wrapper .images-wrap {
    flex-wrap: initial !important;
}
.creativewayslider {
    display: flex;
    justify-content: space-between;
    margin-top: 8.6rem;
    margin-right: -13rem;
    width: 54rem;
}
.creativewaysliderleft {
    position: absolute;
    top: 39.5rem;
    left: -3rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.creativewaysliderright {
    position: absolute;
    top: 39.5rem;
    left: 55rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.sliderbox {
    width: 118px;
    height: 80px;
    border: 1px solid lightgray;
    border-radius: 24px;
    padding: 0.5rem 0;
    cursor: pointer;
    z-index: 1;
}
[tabindex]:focus {
    background-color: #fed12f;
}
.sliderDiv {
    border: 1px solid;
    border-radius: 10px;
    width: 6rem;
}
.sliderimg {
    width: 3rem;
    padding: 10px;
    height: 3.5rem;
}
.sliderspan {
    font-size: 14px;
    font-weight: 300;
}
.creativewayimgdiv {
    overflow: hidden;
}
.creativewayimg {
    height: 30rem;
    width: 106%;
    object-fit: contain;
}
.storebtnsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0;
}
.storetext {
    color: #523106;
    font-size: 14px;
    margin-bottom: 0 !important;
    margin-right: 5rem;
    font-weight: bold;
    font-family: sans-serif;
    font-weight: normal;
}
.storebtns {
    display: flex;
    padding: 0 2rem;
    border-radius: 3rem;
    align-items: center;
    border: none;
    box-shadow: 1px 0px 8px -5px;
    background-color: #f2f2f3;
    margin-right: 2rem;
}
.storeimg {
    width: 1rem;
    height: 1rem;
    margin-right: 6px;
}
.categorysection {
    margin: 2rem 5rem;
}
.headtext {
    text-align: center;
}
.headtexth1 {
    color: #523106;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 1rem;
}
.headtextp {
    color: #9599b2;
    font-size: 16px;
    font-weight: lighter;
}
.categoriesboxes {
    display: flex;
    flex-wrap: wrap;
}

.categorybox {
    position: relative;
    flex: 1 1 293px;
    margin: 50px 0 50px 71px;
    padding: 2rem 1rem 2rem 7rem;
    border-radius: 30px;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 6%);
    border: solid 1px #707070;
    cursor: pointer;
    color: #523106;
    text-align: left;
}
.categorybox > h2 {
    font-size: 1.3rem;
    font-weight: bold;
}
.categorybox > p {
    font-size: 14px;
}
.categoryboximg {
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 23px;
    left: -50px;
}
.artistsection {
    margin: 4rem 0;
}
.artistslider {
    display: flex;
    justify-content: space-between;
    margin-top: 8.6rem;
    margin-right: -13rem;
    width: 54rem;
}
.artistsliderbox {
    background: #efeff3;
    /* width: 80%; */
    border-radius: 15px;
    text-align: left;
}
.artistsliderleft {
    position: absolute;
    top: 160rem;
    cursor: pointer;
}
.artistsliderright {
    position: absolute;
    left: 116rem;
    top: 160rem;
    cursor: pointer;
}
.artistsliderimg {
    width: 10rem;
    object-fit: cover;
    border-radius: 17px 0 17px 0;
    height: 8rem;
}
.artistsliderspan {
    font-weight: bold;
    line-height: 1.2;
    color: #523106;
    margin-left: 3rem;
    font-size: 16px;
    margin-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.artistsliderinnerbox {
    border-radius: 40px;
    padding: 1rem 1.5rem;
    background: white;
    margin: 1rem;
    font-size: 12px;
    text-transform: capitalize;
}
.artistsliderreviews {
    margin: 1px auto;
    width: 31%;
    display: block;
}
.artistsliderreviews > p {
    font-size: 12px;
}
.artistsliderreviews > img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.createyourteamsection {
    display: flex;
    justify-content: space-between;
    margin: 10rem auto !important;
}
.createyourteamsectiontextdiv1 {
    display: none;
}
.createyourteamsectiontextdiv2 {
    margin-top: 4rem;
}
.createyourteamsectionImg {
    width: 40rem;
    height: 28rem;
    object-fit: contain;
    margin-right: 8%;
}
.createyourteamsectiontext {
    width: 50%;
    text-align: left;
    /* margin: auto 10%; */
}
.createyourteamsectionh1 {
    font-size: 25px;
    color: #523106;
    text-transform: uppercase;
}
.createyourteamsectionp1 {
    font-size: 18px;
    color: lightslategray;
}
.createyourteamsectionp {
    font-size: 16px;
    color: #523106;
    font-weight: 500;
    margin-top: 12px;
}
.trustedusercard {
    margin-bottom: 2rem;
    border-radius: 30px;
    border: solid 1px #707070;
    width: 20rem;
    padding: 1rem;
}
.trustedusercardprofile {
    display: flex;
}
.trustedusercardprofilename {
    text-align: left;
}
.trustedusercardprofileimg {
    width: 90px;
    height: 90px;
    margin-right: 1rem;
    border-radius: 8px;
    object-fit: contain;
}
.trustedusercardprofiletitle {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    color: #523106;
}
.trustedusercardprofilep {
    margin: 5px 3rem 5px 0;
    color: #523106;
    font-size: 12px;
    font-weight: normal;
}
.trustedusercardtext {
    font-size: 16px;
    font-weight: normal;
    text-transform: initial;
}
.trusteduserleftarrow {
    position: absolute;
    top: 284rem;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    left: 2rem;
}
.trusteduserrightarrow {
    position: absolute;
    top: 284rem;
    cursor: pointer;
    left: 113rem;
    width: 5rem;
    height: 5rem;
}
.howitworksecion {
    margin: 4rem auto;
}
.howitworkcards {
    display: flex;
    justify-content: space-between;
}
.howitworkcard {
    background: #f4f5f7;
    border-radius: 2rem;
    width: 25%;
}
.howitworkcardimg {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}
.howitworkcardtext {
    padding: 3rem 3rem 1rem 3rem;
    border-top: 1px solid lightgray;
    text-align: left;
}
.howitworkcardtext1 {
    margin: 0;
    font-weight: bold;
    color: #523106;
}
.howitworkcardtext2 {
    color: lightslategray;
    line-height: 1.5;
}
.articlestorysection1 {
    display: flex;
    justify-content: space-between;
}
.articlestorysectioncard {
    display: flex;
    background: #f4f5f7;
    border-radius: 1rem;
    justify-content: space-between;
    width: 45%;
    margin-bottom: 3rem;
}
.articlestorysectioncardimg {
    height: 100%;
    width: 14rem;
    border-radius: 1rem;
    object-fit: fill;
}
.articlestorysectioncardtext {
    padding: 0.3rem 2rem;
    width: 50%;
    text-align: left;
}
.articlestorysectioncardp1 {
    font-weight: 500;
    color: #523106;
    font-size: 22px;
}
.articlestorysectioncardp2 {
    color: #817889;
    line-height: 1.35;
}
.articlestorysectionbutton {
    margin: 3rem auto;
    display: -webkit-box;
    padding: 0.7rem 3rem;
    border: none;
    border-radius: 4rem;
    background: #523106;
    color: white;
    font-size: 1rem;
    cursor: pointer !important;
}

@media (max-width: 1199px) {
    .trustedusercard {
        width: 18rem;
    }
    .trustedusercardprofileimg {
        width: 70px;
        height: 55px;
    }
    .trustedusercardprofiletitle {
        font-size: 12px;
    }
    .trustedusercardprofilep {
        font-size: 8px;
    }
    .trustedusercardtext {
        font-size: 12px;
    }
    .articlestorysectioncardp1 {
        font-size: 18px;
    }
    .articlestorysectioncardp2 {
        font-size: 14px;
    }
    .articlestorysectioncardimg {
        width: 13rem;
    }
}
@media (max-width: 1080px) {
    .ourCategories {
        background: #f3f4f6;
        margin: 0 !important;
        border-radius: 0 4rem 4rem 0;
        padding: 2rem;
        width: 92% !important;
    }
    .section1 {
        flex-direction: column-reverse;
    }
    .creativewayimgdiv {
        width: 100%;
    }
    .creativewayimg {
        height: 20rem;
        width: 100%;
    }
    .creativeway {
        width: 80% !important;
    }
    .creativewayh1 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .creativewayp {
        font-size: 1rem;
        text-transform: none;
    }
    .filters {
        margin-top: 2rem;
        margin-right: 0;
        width: auto;
        border-radius: 1rem;
    }
    .sliderClass {
        margin-top: 4rem;
    }
    .filterstext {
        display: flex;
        align-items: center;
    }
    .creativewayslider {
        width: auto;
        margin-top: 5rem;
        margin-right: 0;
    }
    .sliderbox {
        width: 11%;
        height: 8rem;
        border-radius: 2.5rem;
    }
    .creativewaysliderright {
        top: 31rem;
        left: 102%;
    }
    .creativewaysliderleft {
        top: 30.5rem;
        left: -3rem;
    }
    .categorysection {
        margin: 2rem 2rem 2rem 0;
        padding: 3rem;
        background: #f3f4f6;
        border-radius: 0 8rem 8rem 0;
    }
    .headtextp {
        font-size: 2rem;
        text-transform: none;
    }
    .categorybox {
        background-color: white;
    }
    .createyourteamsection {
        flex-direction: column-reverse;
    }
    .createyourteamsectiontext {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .createyourteamsectiontextdiv2 {
        display: none;
    }
    .createyourteamsectiontextdiv1 {
        display: block;
        text-align: center;
    }
    .createyourteamsectionImg {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .artistsliderimg {
        height: 4rem;
        width: 4rem;
    }
    .artistsliderinnerbox {
        padding: 1.5rem 0.5rem !important;
        margin: 0.5rem !important;
    }
    .artistsliderinnerboxp {
        font-size: 8px !important;
        margin-bottom: 3px !important;
    }
    .artistsliderspan {
        margin-left: 1rem !important;
        font-size: 9px !important;
    }
    .artistsliderreviews > p {
        font-size: 8px;
        margin-top: 8px;
    }
    .artistsliderreviews > img {
        width: 25%;
        height: 45px;
    }

    .createyourteamsectionp {
        font-size: 12px !important;
    }
    .createyourteamsectionh1 {
        font-size: 1rem;
    }
    .createyourteamsectionp1 {
        font-size: 1rem;
    }
    .trustedusercard {
        width: 14rem !important;
    }
    .trustedusercardprofileimg {
        width: 40px;
        height: 40px;
    }
    .trustedusercardprofiletitle {
        font-size: 10px;
    }
    .trustedusercardprofilep {
        font-size: 8px;
    }
    .trustedusercardtext {
        font-size: 10px;
    }

    .howitworkcard {
        width: 30%;
    }
    .howitworkcardimg {
        width: 10rem;
        height: 10rem;
    }
    .howitworkcardtext {
        padding: 2rem 2rem 1rem 2rem;
    }
    .howitworkcardtext1 {
        font-size: 14px;
    }
    .howitworkcardtext2 {
        font-size: 12px;
    }
    .articlestorysectioncardtext {
        padding: 0.3rem 1rem !important;
    }
    .articlestorysectioncardp1 {
        font-size: 14px;
    }
    .articlestorysectioncardp2 {
        font-size: 12px;
    }
    .articlestorysectioncardimg {
        width: 10rem;
    }
}

@media (max-width: 768px) {
    .headtexth1 {
        font-size: 1rem;
    }
    .headtextp {
        font-size: 1rem !important;
    }

    .trustedusercard {
        width: 10rem !important;
    }
    .trustedusercardprofileimg {
        width: 30px;
        height: 30px;
    }
    .trustedusercardprofiletitle {
        font-size: 8px;
    }
    .trustedusercardprofilep {
        margin: 0;
    }
    .trustedusercardtext {
        font-size: 8px;
    }

    .howitworkcardimg {
        width: 7rem;
        height: 7rem;
    }
    .howitworkcardtext {
        padding: 1rem;
    }
    .howitworkcardtext1 {
        font-size: 10px;
    }
    .howitworkcardtext2 {
        font-size: 10px;
    }
    .articlestorysection1 {
        display: block;
    }
    .articlestorysectioncard {
        width: 100%;
    }
}
@media (max-width: 560px) {
    .storetext {
        margin-right: 0 !important;
    }
    .storebtns {
        margin: 1rem auto !important;
    }
    .storebtnsdiv {
        display: block;
        text-align: center;
    }
}
@media (max-width: 542px) {
    .filterssearchbtn {
        width: 100% !important;
        margin-top: 10px;
    }
    .filterstext {
        width: 100% !important;
        margin-top: 10px;
    }
    .filtersselect {
        width: 100% !important;
        margin-top: 10px;
    }

    .articlestorysectioncardimg {
        display: none;
    }
    .articlestorysectioncardtext {
        padding: 2rem !important;
        width: 100%;
        text-align: center;
    }
    .articlestorysectioncardp1 {
        font-size: 18px;
    }
    .articlestorysectioncardp2 {
        font-size: 14px;
    }
    .headtexth1 {
        font-size: 14px;
    }
    .headtextp {
        font-size: 12px;
    }
    .howitworkcardimg {
        height: 5rem;
        width: 5rem;
    }
}
