.section1 {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #fef9ed 0%, #fff 100%);
}
.getMoney {
}
.getMoneyh1 {
    color: #523106;
    text-transform: uppercase;
    font-size: 2rem;
}

.getMoneyimgdiv {
    overflow: hidden;
}
.getMoneyimg {
    height: 30rem;
    width: 106%;
    object-fit: contain;
}
